.date-picker-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.feature-filter {
  display: flex;
  align-items: center;
  gap: 20px;
}

